.loved-globally {
  display: grid;
  grid-template-rows: 1fr 6fr;

  padding: 4rem 0;
}

.heart-icon {
  grid-column: 1 / 2;
  grid-row: 1 / 2;

  display: flex;
  justify-content: center;
  align-items: center;
}

.home-cooks {
  grid-column: 1 / 2;
  grid-row: 2 / 3;

  display: grid;
  height: fit-content;
  grid-template-columns: 1fr 4fr 1fr;

  position: relative;
}

.plam-leaf-left {
  grid-column: 1/2;
  grid-row: 1/2;

  background-image: url("../../assets/icons/palm-leaf.svg");
  background-repeat: no-repeat;
  background-size: cover;

  height: 281px;
  width: 140px;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 30px;
}

.plam-leaf-right {
  grid-column: 3/4;
  grid-row: 1/2;

  background-image: url("../../assets/icons/palm-leaf.svg");
  background-repeat: no-repeat;
  background-size: cover;

  height: 281px;
  width: 140px;

  position: absolute;
  top: 0;
  bottom: 0;
  right: 30px;

  transform: scaleX(-1);
}

.middle-div {
  grid-column: 2/3;
  grid-row: 1 /2;

  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 50px;
}

.heading-h2 {
  font-size: 1.4rem;
  text-align: center;
  max-width: 600px;
  padding-top: 30px;
}

.global-icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}

.global-icons div {
  display: flex;
  align-items: center;
  gap: 15px;
}

.global-icons div img {
  width: 65px;
}

.global-icons div p {
  width: 120px;
  color: #919fc2;
  font-size: 17px;
}

@media only screen and (max-width: 400px) {
  .loved-globally {
    grid-template-rows: 0.2fr 6fr;
    padding: 1.5rem 1.25rem 0 1.25rem;
  }

  .home-cooks {
    grid-template-columns: 1fr;
  }

  .plam-leaf-left,
  .plam-leaf-right {
    display: none;
  }

  .middle-div {
    gap: 40px;
  }

  .heading-h2 h2 {
    font-size: 1.4rem;
    line-height: 1.8rem;
  }

  .global-icons {
    justify-content: center;
    flex-wrap: wrap;
  }

  .global-icons div p {
    color: #8e94a3;
    font-size: 17px;
  }
}
