/* PRIMARY FONT FAMILY */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

/* SECONDARY FONT FAMILY */
@import url("https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

:root {
  --primary-font-family: "Poppins", sans-serif;
  --secondary-font-family: "Hind Siliguri", sans-serif;
  --body-bg-color: #fff;
  --croll-body-bg: #f6f6f8;
  --primary-btn-bg-col: #ff9300;
  --primary-btn-bg-hover-col: #f87600;
  --primary-font-col: #010101;
  --secondary-font-col: #5c5c5c;
  --support-btn-bg-col: #324255;
  --border-primary-col: #e6e6e6;
  --error-color: #f20049;
}

/* GENERIC STYLE */
body {
  font-family: var(--secondary-font-family);
  background-color: var(--body-bg-color);
  color: var(--primary-font-col);
  scroll-behavior: smooth;
  line-height: 1.5;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

button {
  all: unset;
  cursor: pointer;
}

/* Pseudo-element to apply a grayscale filter above the root element */
#root::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(rgba(0 0 0 / 3%), rgba(0 0 0 / 3%));
  pointer-events: none; /* Ensure overlay doesn't block interactions */
  z-index: 10; /* Keep the overlay on top */
}

/* HOME PAGE */
.home-header {
  padding: 2.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--body-bg-color);

  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;

  transition: padding 0.7s ease;
}

/* this rule set will be added to HomeHeader when user scroll */
.scroll-fixed {
  padding: 1rem 2.5rem;
  opacity: 0.95;
  z-index: 11;
}

.login-btn {
  color: var(--secondary-font-col);
  font-weight: 600;
  border: 1px solid var(--border-primary-col);
  border-radius: 2rem;
  padding: 0.5rem 0.75rem;
  transition: border 300ms;
}

.login-btn:hover {
  border: 1px solid var(--secondary-font-col);
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo img {
  width: 150px;
}

/* LOG IN MODAL */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 20;
}

/* Modal content */
.login-modal-content {
  background-color: var(--body-bg-color);
  padding: 30px;
  border-radius: 8px;
  width: 300px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  position: relative;
}

/* Close button */
.close-button {
  position: absolute;
  top: 10px;
  right: 15px;

  font-size: 24px;
  color: var(--primary-btn-bg-hover-col);

  transition: scale 200ms;
}

.close-button:hover {
  scale: 1.2;
}

.no-account {
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 12px;
  color: var(--secondary-font-col);
  gap: 10px;
}

.no-account button {
  color: var(--primary-btn-bg-hover-col);
  cursor: pointer;
}

.forgot-pw {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 10px;
  color: var(--primary-btn-bg-col);
  font-size: 12px;
  font-weight: 600;
}

.alternative-auth {
  width: 100%;

  color: #808080bd;
  font-size: 14px;

  display: grid;
  grid-template-columns: 1fr auto 1fr;
  gap: 6px;
  align-items: center;

  margin: 10px 0;
}

.alternative-auth .line {
  border-top: 1px solid #80808071;
  height: 0;
}

.alternative-auth-icons,
.alternative-auth-icons button {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.alternative-auth-icons button {
  justify-content: center;

  padding: 8px;
  border: 1px solid #80808071;
  border-radius: 50%;

  width: 20px;
  height: 20px;

  transition: border-color 300ms, background-color 300ms;
}

.alternative-auth-icons button:hover {
  border-color: var(--secondary-font-col);
  background-color: var(--border-primary-col);
}

.alternative-auth-icons button img {
  width: 100%;
  height: auto;
}

.terms-and-privacy-policy {
  color: #808080cc;
  font-size: 12px;
  margin-top: 15px;
  text-align: center;
}

.terms-and-privacy-policy span {
  color: var(--primary-btn-bg-hover-col);
  cursor: pointer;
}

/* AUTH FORM */
.loginForm {
  margin-top: 30px;
}

input {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;

  color: var(--secondary-font-col);
  font-size: 16px;
  font-family: var(--secondary-font-family);
  opacity: 0.8;

  border: 1px solid var(--border-primary-col);
  border-radius: 5px;
}

.password-input {
  padding: 0;
  margin-bottom: 0;

  color: var(--secondary-font-col);
  font-size: 16px;
  font-family: var(--secondary-font-family);
  opacity: 0.8;
  border: none;
}

.password-dev {
  width: 100%;
  padding: 5px 8px;
  margin-bottom: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  border: 1px solid var(--border-primary-col);
  border-radius: 5px;
}

.password-dev img {
  width: 15px;
  cursor: pointer;
}

input:focus {
  outline: none;
  border: 1px solid var(--primary-btn-bg-col);
}

.password-input:focus {
  border: none;
}

.password-dev:focus-within {
  border: 1px solid var(--primary-btn-bg-col);
}

.input-error-border {
  border: 1px solid var(--error-color);
}

input::placeholder {
  opacity: 0.8;
  font-size: 14px;
}

.error-message {
  color: var(--error-color);
  font-size: 13px;
}

.submit-btn {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  padding: 8px 0;
  margin: 10px 0 7px 0;

  color: var(--body-bg-color);
  font-weight: 600;
  background-color: var(--primary-btn-bg-col);
  border-radius: 2rem;

  transition: background 300ms;
}

.submit-btn:hover {
  background-color: var(--primary-btn-bg-hover-col);
}

/* SECTION 1 */
.section-one {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0 2.5rem;
}

.welcome {
  display: flex;
  flex-direction: column;
  gap: 20px;

  padding-top: 20px;
}

.welcome h1 {
  font-size: 65px;
}

.welcome-message {
  width: 80%;
  font-size: 24px;
}

.signup-btn {
  color: var(--body-bg-color);
  font-size: 25px;
  font-weight: 600;
  background-color: var(--primary-btn-bg-col);

  width: fit-content;
  padding: 10px 30px;

  border-radius: 30px;
  transition: background-color 300ms;
}

.signup-btn:hover {
  background-color: var(--primary-btn-bg-hover-col);
}

.stars {
  font-size: 15px;
}

.rating {
  display: flex;
  gap: 10px;
}

.rating p {
  font-size: 16px;
  color: var(--secondary-font-col);
  opacity: 0.7;
}

/* lady photo */
img {
  max-width: 100%;
  height: auto;
}

/* SIGN UP MODAL */
.sign-up-modal-content {
  background-color: var(--body-bg-color);
  background-image: url("../src/assets/images/sign-up-bg-complete.png");

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-color: var(
    --primary-btn-bg-col
  ); /* Fallback color while the image loads */

  padding: 50px 40px;
  border-radius: 8px;
  width: 70%;
  height: auto;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  position: relative;
}

.sign-up-modal-content .close-button {
  color: var(--body-bg-color);
}

.features-and-form {
  display: flex;
  justify-content: space-between;
  align-self: center;
  gap: 30px;
}

.sign-up-features {
  width: 50%;
  display: flex;
  flex-direction: column;
  color: var(--body-bg-color);
  gap: 20px;
}

.sign-up-features li {
  display: flex;
  align-items: center;
  gap: 15px;

  font-size: 16px;
  margin-bottom: 10px;
}

.sign-up-features li img {
  width: 20px;
}

.download-app {
  display: flex;
  align-items: center;
  gap: 20px;
}

.download-app img {
  height: 40px;
}

.sign-up-form {
  background-color: var(--body-bg-color);
  padding: 30px;
  border-radius: 8px;
  width: 320px;
}

/*********** MEDIA QUESRy *************/
@media only screen and (max-width: 760px) {
  /* SECTION ONE */
  .section-one {
    grid-template-columns: 1fr;
  }

  .welcome h1 {
    font-size: 40px;
  }

  .welcome {
    align-items: center;
    text-align: center;
  }

  .welcome-message {
    width: 80%;
    font-size: 20px;
  }

  .rating {
    flex-direction: column;
    align-items: center;
  }

  .lady-photo {
    margin-top: 30px;
  }

  /* SIGN UP MODAL */
  .sign-up-modal-content {
    display: flex;
    justify-content: center;
    width: 320px;
  }

  .sign-up-features {
    display: none;
  }
}
