/* PRIMARY FONT FAMILY */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

/* SECONDARY FONT FAMILY */
@import url("https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

:root {
  --primary-font-family: "Poppins", sans-serif;
  --secondary-font-family: "Hind Siliguri", sans-serif;
  --body-bg-color: #fff;
  --croll-body-bg: #f6f6f8;
  --primary-btn-bg-col: #ff9300;
  --primary-btn-bg-hover-col: #f87600;
  --primary-font-col: #010101;
  --secondary-font-col: #5c5c5c;
  --support-btn-bg-col: #324255;
  --border-primary-col: #e6e6e6;
  --error-color: #f20049;
  --section-bg-color: #fcfcfc;
}

/****** GENERIC STYLE ******/
body {
  font-family: var(--secondary-font-family);
  background-color: var(--body-bg-color);
  color: var(--primary-font-col);
  scroll-behavior: smooth;
  line-height: 1.5;
  /* background-color: #f20049; */
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

button {
  all: unset;
  cursor: pointer;
}

#root {
  max-width: 1390px;
  margin: 0 auto;
}
/* Pseudo-element to apply a grayscale filter above the root element */
#root::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(rgba(0 0 0 / 3%), rgba(0 0 0 / 3%));
  pointer-events: none; /* Ensure overlay doesn't block interactions */
  z-index: 10; /* Keep the overlay on top */
}

/****** HOME PAGE ******/
.home-header {
  padding: 2.5rem 2.5rem;
  background-color: var(--body-bg-color);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;

  transition: padding 0.7s ease;
}

header {
  max-width: 1390px;
  margin: 0 auto;
  padding: 0 2.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* this rule set will be added to HomeHeader when user scroll */
.scroll-fixed {
  padding: 1rem 2.5rem;
  opacity: 0.95;
  z-index: 11;
}

.login-btn {
  color: var(--secondary-font-col);
  font-size: 25px;
  font-weight: 600;
  border: 1px solid var(--border-primary-col);
  border-radius: 2rem;
  padding: 0.5rem 0.75rem;
  transition: border 300ms;
}

.login-btn:hover {
  border: 1px solid var(--secondary-font-col);
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.logo img {
  width: 180px;
}

/****** LOG IN MODAL ******/
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 20;
}

/* Modal content */
.login-modal-content {
  background-color: var(--body-bg-color);
  padding: 30px;
  border-radius: 8px;
  width: 330px;

  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  position: relative;
}

/* Close button */
.close-button {
  position: absolute;
  top: 10px;
  right: 15px;

  font-size: 24px;
  color: var(--primary-btn-bg-hover-col);

  transition: scale 200ms;
}

.close-button:hover {
  scale: 1.2;
}

.no-account {
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 12px;
  color: var(--secondary-font-col);
  gap: 10px;
}

.no-account button {
  color: var(--primary-btn-bg-hover-col);
  cursor: pointer;
}

.forgot-pw {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 10px;
  color: var(--primary-btn-bg-col);
  font-size: 12px;
  font-weight: 600;
}

/****** SIGN UP MODAL ******/
.sign-up-modal-content {
  background-color: var(--body-bg-color);
  background-image: url("../src/assets/images/sign-up-bg-complete.png");

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-color: var(
    --primary-btn-bg-col
  ); /* Fallback color while the image loads */

  padding: 50px 40px;
  border-radius: 8px;
  width: 70%;
  height: auto;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  position: relative;
}

.sign-up-modal-content .close-button {
  color: var(--body-bg-color);
}

.features-and-form {
  display: flex;
  justify-content: space-between;
  align-self: center;
  gap: 30px;
}

.sign-up-features {
  width: 50%;
  display: flex;
  flex-direction: column;
  color: var(--body-bg-color);
  gap: 20px;
}

.sign-up-features li {
  display: flex;
  align-items: center;
  gap: 15px;

  font-size: 16px;
  margin-bottom: 10px;
}

.sign-up-features li img {
  width: 20px;
}

.download-app {
  display: flex;
  align-items: center;
  gap: 20px;
}

.download-app img {
  height: 40px;
}

.sign-up-form {
  background-color: var(--body-bg-color);
  padding: 30px;
  border-radius: 8px;
  width: 320px;
}

/****** AUTH FORM ******/
.loginForm {
  margin-top: 30px;
}

input {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;

  color: var(--secondary-font-col);
  font-size: 16px;
  font-family: var(--secondary-font-family);
  opacity: 0.8;

  border: 1px solid var(--border-primary-col);
  border-radius: 5px;
}

.password-input {
  padding: 0;
  margin-bottom: 0;

  color: var(--secondary-font-col);
  font-size: 16px;
  font-family: var(--secondary-font-family);
  opacity: 0.8;
  border: none;
}

.password-dev {
  width: 100%;
  padding: 5px 8px;
  margin-bottom: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  border: 1px solid var(--border-primary-col);
  border-radius: 5px;
}

.password-dev img {
  width: 15px;
  cursor: pointer;
}

input:focus {
  outline: none;
  border: 1px solid var(--primary-btn-bg-col);
}

.password-input:focus {
  border: none;
}

.password-dev:focus-within {
  border: 1px solid var(--primary-btn-bg-col);
}

.input-error-border {
  border: 1px solid var(--error-color);
}

input::placeholder {
  opacity: 0.8;
  font-size: 14px;
}

.error-message {
  color: var(--error-color);
  font-size: 13px;
}

.submit-btn {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  padding: 8px 0;
  margin: 10px 0 7px 0;

  color: var(--body-bg-color);
  font-weight: 600;
  background-color: var(--primary-btn-bg-col);
  border-radius: 2rem;

  transition: background 300ms;
}

.submit-btn:hover {
  background-color: var(--primary-btn-bg-hover-col);
}

/****** ALT AUTH  ******/
.alternative-auth {
  width: 100%;

  color: #808080bd;
  font-size: 14px;

  display: grid;
  grid-template-columns: 1fr auto 1fr;
  gap: 6px;
  align-items: center;

  margin: 10px 0;
}

.alternative-auth .line {
  border-top: 1px solid #80808071;
  height: 0;
}

.alternative-auth-icons,
.alternative-auth-icons button {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.alternative-auth-icons button {
  justify-content: center;

  padding: 8px;
  border: 1px solid #80808071;
  border-radius: 50%;

  width: 20px;
  height: 20px;

  transition: border-color 300ms, background-color 300ms;
}

.alternative-auth-icons button:hover {
  border-color: var(--secondary-font-col);
  background-color: var(--border-primary-col);
}

.alternative-auth-icons button img {
  width: 100%;
  height: auto;
}

.terms-and-privacy-policy {
  color: #808080cc;
  font-size: 12px;
  margin-top: 15px;
  text-align: center;
}

.terms-and-privacy-policy span {
  color: var(--primary-btn-bg-hover-col);
  cursor: pointer;
}

/****** SECTIONS ******/
/* HERO */
.hero-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 8rem 2.5rem 0 2.5rem;
}

.welcome {
  display: flex;
  flex-direction: column;
  gap: 20px;

  padding-top: 20px;
}

.welcome h1 {
  font-size: 4.5rem;
}

.welcome-message {
  width: 80%;
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.signup-btn {
  color: var(--body-bg-color);
  font-size: 1.5rem;
  font-weight: 600;
  background-color: var(--primary-btn-bg-col);

  width: fit-content;
  padding: 12px 33px;

  border-radius: 35px;
  transition: background-color 300ms;
}

.signup-btn:hover {
  background-color: var(--primary-btn-bg-hover-col);
}

.stars {
  font-size: 15px;
}

.rating {
  display: flex;
  gap: 10px;
}

.rating p {
  font-size: 16px;
  color: var(--secondary-font-col);
  opacity: 0.7;
}

/* lady photo */
img {
  max-width: 100%;
  height: auto;
}

/** MAIN **/

.home-section {
  display: flex;
  align-items: center;

  gap: 6rem;
  padding: 4rem 7rem 0 7rem;
}

video {
  border-radius: 45px 45px 0 0;
  border-bottom: none;
}

.descBox,
.descBox-discover {
  display: flex;
  flex-direction: column;
  gap: 25px;
  font-size: 1.3rem;
}

.discover-section {
  display: flex;
  justify-content: center;
  align-items: center;

  padding-top: 4rem;
}

.descBox-discover {
  align-items: center;
  max-width: 900px;
  gap: 25px;
  text-align: center;
}

.descBox-h2 {
  font-size: 2.7rem;
  letter-spacing: 0.8px;
  line-height: 65px;
}

.section-link {
  max-width: fit-content;
  color: var(--primary-btn-bg-col);
  font-weight: 600;
  text-decoration: none;
  position: relative;
}

.section-link::after {
  content: "";
  position: absolute;
  width: 0;
  height: 1px;
  background-color: currentColor;
  bottom: 0;
  left: 50%;
  transition: width 0.3s ease, left 0.3s ease;
}

.section-link:hover::after {
  width: 100%;
  left: 0;
}

.arrow-icon {
  margin-left: 10px;
  cursor: pointer;
}
/* LIVED GLOBALLY */
.loved-globally {
  display: grid;
  grid-template-rows: 1fr 6fr;

  padding: 4rem 0;
}

.heart-icon {
  grid-column: 1 / 2;
  grid-row: 1 / 2;

  display: flex;
  justify-content: center;
  align-items: center;

  /* padding: 1rem; */
}

.home-cooks {
  grid-column: 1 / 2;
  grid-row: 2 / 3;

  display: grid;
  height: fit-content;
  grid-template-columns: 1fr 4fr 1fr;

  position: relative;
}

.plam-leaf-left {
  grid-column: 1/2;
  grid-row: 1/2;

  background-image: url("./assets/icons/palm-leaf.svg");
  background-repeat: no-repeat;
  background-size: cover;

  height: 281px;
  width: 140px;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 30px;
}

.plam-leaf-right {
  grid-column: 3/4;
  grid-row: 1/2;

  background-image: url("./assets/icons/palm-leaf.svg");
  background-repeat: no-repeat;
  background-size: cover;

  height: 281px;
  width: 140px;

  position: absolute;
  top: 0;
  bottom: 0;
  right: 30px;

  transform: scaleX(-1);
}

.middle-div {
  grid-column: 2/3;
  grid-row: 1 /2;

  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 50px;
}

.heading-h2 {
  font-size: 1.4rem;
  text-align: center;
  max-width: 600px;
  padding-top: 30px;
}

.global-icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}

.global-icons div {
  display: flex;
  align-items: center;
  gap: 15px;
}

.global-icons div img {
  width: 65px;
}

.global-icons div p {
  width: 120px;
  color: #919fc2;
  font-size: 17px;
}

/****** TESTIMONIALS ******/
/* TestimonialCarousel.css */
.testimonials-section {
  position: relative;
  height: 600px;
}

.testimonial-container {
  width: 100%;
  overflow: hidden;

  position: absolute;
  left: 50%;
  right: 50%;
  width: 98.7vw;
  transform: translateX(-50%);

  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  padding: 4rem 0 2rem 0;
}

.testimonial-cards {
  display: flex;
  justify-content: space-around;
  gap: 15px;
  transition: transform 0.5s ease;
  user-select: none;
}

.card {
  width: 350px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 40px;

  background-color: #f0f0f0aa;
  padding: 30px;
  border-radius: 20px;
  transition: transform 0.3s ease;
}

.card.scale-up {
  transform: scale(1.2);
  transform-origin: center;
  margin: 0 -30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  background-color: #f0f0f0;
}

.card-heading {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 15px;
}

.card-heading img {
  width: 22px;
}

.card-heading h3 {
  color: #737d97;
  font-size: 0.8rem;
  text-transform: uppercase;
  letter-spacing: 1.5px;

  margin-bottom: 30px;
}

.card-content {
  color: #7d7d7d;
}

.card-author {
  color: #010101;
  font-weight: 500;
}

.testimonials-buttons {
  margin-top: 4rem;
  display: flex;
  gap: 25px;
}

.arrow-btn {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 10px;
  width: 40px;
  height: 40px;
  cursor: pointer;

  background-color: var(--body-bg-color);
  border: 1px solid var(--primary-btn-bg-col);
  border-radius: 50%;
  margin: 0 5px;
}

svg {
  width: 24px;
  height: 24px;
  fill: var(--primary-btn-bg-col);
}

.card svg {
  fill: #909bab;
}

.card.comma svg {
  fill: var(--primary-btn-bg-col);
}

svg.forward {
  transform: scaleX(-1);
}

.arrow-btn:hover {
  background-color: var(--primary-btn-bg-col);
}

.arrow-btn:hover svg {
  fill: var(--body-bg-color);
}

.arrow-btn:disabled {
  cursor: default;
  border: 1px solid #dee1e6;
  background-color: none;
}

.arrow-btn:disabled:hover {
  background-color: var(--body-bg-color);
}

.arrow-btn:disabled svg {
  fill: #909bab;
}

/****** AWARD WINNING ******/
.wining-app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;

  padding: 3rem 7rem 0 7rem;

  padding-bottom: 50px; /**/
}

.wining-app h2 {
  font-size: 2.7rem;
  letter-spacing: 0.8px;
  line-height: 65px;
}

.wining-app p {
  font-size: 1.3rem;
}

.app-stores-icons {
  display: flex;
  align-items: center;
  justify-content: space-between;

  gap: 25px;
}

.app-stores-icons:hover {
  cursor: pointer;
}

.web-app-link {
  display: flex;
  align-items: center;
  gap: 20px;
  border: 1px solid var(--border-primary-col);
  padding: 8px 20px;
  border-radius: 25px;
  cursor: pointer;
  transition: border-color 300ms;
}

.web-app-link:hover {
  border-color: var(--secondary-font-col);
}

.web-app-link a {
  text-decoration: none;
  color: var(--secondary-font-col);
  font-size: 18px;
  font-weight: 500;
}

/****** MEDIA QUESRy ******/
@media only screen and (max-width: 390px) {
  .home-header {
    padding: 1.8rem 1.25rem;
    transition: padding 0.4s ease;
  }

  header {
    padding: 0;
  }

  .scroll-fixed {
    padding: 0.7rem 1.25rem 0.7rem 1.25rem;
  }

  .login-btn {
    font-size: 0.9rem;
    font-weight: 600;
    padding: 0.5rem 0.7rem;
  }

  .logo {
    width: 140px;
  }

  .hero-section {
    grid-template-columns: 1fr;
    padding: 5rem 1.25rem 0 1.25rem;
  }

  .welcome h1 {
    font-size: 40px;
  }

  .welcome {
    align-items: center;
    text-align: center;
  }

  .welcome-message {
    width: 80%;
    font-size: 20px;
  }

  .submit-btn {
    font-weight: 500;
  }

  .main-btn {
    font-size: 1.2rem;
    padding: 10px 25px;
  }

  .rating {
    flex-direction: column;
    align-items: center;
  }

  .lady-photo {
    margin-top: 30px;
    margin-left: 40px;
  }

  .home-section {
    justify-content: center;
    flex-wrap: wrap;
    padding: 1.5rem 1.25rem 0 1.25rem;
    gap: 1rem;
  }

  .discover-section {
    padding: 1rem 1.25rem 0 1.25rem;
  }

  .home-sections-container :nth-child(odd) {
    flex-wrap: wrap-reverse;
  }

  .descBox,
  .descBox-discover {
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 15px;
    font-size: 1.1rem;
    padding: 0rem 1.25rem 0 1.25rem;
  }

  .descBox-h2 {
    font-size: 1.4rem;
    line-height: 1.8rem;
  }

  video {
    width: 100%;
    height: auto;
  }

  .section-video {
    text-align: center;
  }

  /* SIGN UP AND LOGIN MODALS */
  .sign-up-modal-content {
    display: flex;
    justify-content: center;
    width: 370px;
  }

  .sign-up-features {
    display: none;
  }

  .sign-up-form {
    border-radius: 0;
  }

  .login-modal-content {
    width: 350px;
  }

  /* LOVED GLOBALLY */
  .loved-globally {
    grid-template-rows: 0.2fr 6fr;
    padding: 1.5rem 1.25rem 0 1.25rem;
  }

  .home-cooks {
    grid-template-columns: 1fr;
  }

  .plam-leaf-left,
  .plam-leaf-right {
    display: none;
  }

  .middle-div {
    gap: 40px;
  }

  .heading-h2 h2 {
    font-size: 1.4rem;
    line-height: 1.8rem;
  }

  .global-icons {
    justify-content: center;
    flex-wrap: wrap;
  }

  .global-icons div p {
    color: #8e94a3;
    font-size: 17px;
  }

  /* TESTIMONIALS */
  .testimonials-section {
    display: none;
  }

  /****** AWARD WINNING  */
  .wining-app {
    gap: 30px;
    padding: 2rem 1.25rem 0 1.25rem;
  }

  .wining-app h2 {
    font-size: 1.4rem;
    letter-spacing: 0.6px;
    line-height: 1.8rem;
    text-align: center;
  }

  .wining-app p {
    font-size: 1.1rem;
    text-align: center;
  }

  .app-stores-icons {
    flex-direction: column;
  }

  .app-stores-icons img {
    width: 170px;
    height: auto;
  }
}
